$darkbg: #0b0d16;
$bg: #1D2021;
$bg-alt: #32302F;
$contrastbg: #0f111a;
$bgSecondary: #11131c;
$bgSecondaryAlt: #a5b6cf;
$fg: #a5b6cf;
$fgDim: #a5b6cf;
$watermelon: #dd6777;
$apple: #FB4934;
// Aliases
$background: $bg;
$backgroundSecondary: $bgSecondary;
$backgroundSecondaryAlt: $bgSecondaryAlt;
$foreground: $fg;
$foregroundDim: $fgDim;

$black: #151720;
$aqua: #8EC07C;
$dimblack: #1a1c25;
$lightblack: #262831;
$red: #FB4934;
$blue: #86aaec;
$cyan: #93cee9;
$blue-desaturated: #93cee9;
$magenta: #c296eb;
$purple: #D3869B;
$green: #B8BB26;
$aquamarine: #90ceaa;
$yellow: #D79921;
$accent: $blue;
$javacafeMagenta: #c296eb;
$javacafeBlue: #FBC02D;
$putih: #DBF1C7;
$orange: #FFA500;
$kuning: #f2ed00;
$gray: #A89984;
$bluegray: #1e80d2;
$mussic: #343434;
$amber: #83A598;
$grey: #8C8C8C;
$purple2: #6800d2;
$green2: #00ff00;
$red2: #f4155a;
$cyan2: #4DD0E1;
